<div>
    <h1>Phone Bill Widget</h1>
    <h3>Calculate Total Phone Bill For User</h3>
    <div class="message"></div>
    <form action="/home" method="post">
        <input type="text" class="userEntered" placeholder="Enter a Name" name="username" required>
        <input type="text" class="userEntered" placeholder="SMS or Call" name="userString" required>

        <button class="calculate" type="submit" name="button">Calculate Total Phone Bill</button>
    </form>
</div>
