<div>
    <h1>Allocate Price Plan To Username</h1>
    
    <div class="message"></div>
    <form action="" method="post">
        <input type="text" class="userEntered" placeholder="Enter a Name" name="username">
        <input type="button" class="userEntered" placeholder="SMS or Call" name="userString">

        <button class="allocate" type="submit" name="button">Allocate</button>
    </form>
</div>